{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}">
{% endblock %}


{% block title %}
    Гороскоп для {{ sign }}
{% endblock %}

{% block content %}
    <h1>Приложение гороскоп</h1>
    {% include 'includes/navbar.html' %}
    {% if description_zodiac is None %}
        <h2>"Неправильный знак Зодиака {{ sign|upper }}"</h2>
    {% else %}
        <h2>{{sign}}</h2>
        <h3>{{ description_zodiac|capfirst }}</h3>
    {% endif %}
{% endblock %}
