{% extends 'base.html' %}
{% load static %}
{% load my_filter %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}">
{% endblock %}


{% block title %}
    Гороскоп для {{ sign }}
{% endblock %}

{% block content %}
    <h1>Приложение гороскоп</h1>
    {% include 'includes/navbar.html' %}
    {% if description_zodiac is None %}
        <h2>"Неправильный знак Зодиака {{ sign|upper }}"</h2>
    {% else %}
        <h2>{{ description_zodiac|split|first}}</h2>
        <h3>{{ description_zodiac|capfirst }}</h3>
        {% for i in 10|times %}
            <p>Hello</p>
        {% endfor %}
        {% for c in 1|filter_range:10 %}
            <p>{{ c }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
